#interno{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.perfil{
    background-color: rgb(149, 149, 149);
    font-size: 20pt;
    display: flexbox;
    width: 50%;
    text-align: center;
}

.back{
    position: absolute;
    margin-left: 40px;
    margin-top: 10px;
}




